<h1>Did you lost your pet?</h1>

<ul>
  <% @pets.each do |pet| %>
    <li><%= link_to pet.name, pet_path(pet) %> | <%= link_to 'Edit', edit_pet_path(pet) %> | <%= link_to 'Remove', pet_path(pet), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{pet.name}" } %></li>
  <% end %>
</ul>

<%= link_to 'Report a lost pet', new_pet_path %>
